/* Adicione este CSS ao seu arquivo style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 30px;
    margin-bottom: 20px;
    color: #2154fb;
}

.formulario {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    margin: 5px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.botao {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.botao#adicionar {
    background-color: #2154fb;
    color: #fff;
}

.botao#mostrar {
    background-color: #2154fb;
    color: #fff;
}

.botao#remover {
    background-color: #ff3434;
    color: #fff;
}

.informacao {
    font-size: 18px;
    margin-top: 10px;
}

.carrossel {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.livros-box {
    display: flex;
    gap: 10px;
    overflow-x: auto;
}

.livro {
    width: 100px;
    height: 150px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.livro img {
    max-width: 80px;
    max-height: 100px;
    object-fit: cover;
}

.seta {
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.seta:focus {
    outline: none;
}

.sucesso {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1s;
}
